<header>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="imd">
      <a class="navbar-brand" href="http://disputebills.com">
        <img src="http://i.imgur.com/5jojIh5.png" alt="MyShopping" width="325" height="45" class="imd" />
      </a>
    </div>
    <div class="navbar-header">


      <a href="../" class="navbar-brand">myShopping</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">My Account</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="" target="_blank">Checkout</a></li>
      </ul>

    </div>
  </div>
</div>
</header>


  <section id="main" >
      <h1 class="w3-container w3-green">
    
  </h1>

  <h2 class="w3-container w3-green">
    
  </h2>
    <app-home [app2home]="ninja2"></app-home>

  </section>


